<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipeEdit.imagePath"
      alt="{{recipeEdit.name}}"
      class="img-response"
      style="max-height: 300px;"
    >
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeEdit.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button type="button" class="btn btn-primary dropdown-toggle ">Manage Recipe
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu ">
        <li><a style="cursor: pointer;" (click)="addIngredientFromRecipe(recipeEdit.ingredients)">To shopping list</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit recipe</a> </li>
        <li><a style="cursor: pointer;" (click)="onDelete()">Delete recipe</a> </li>
      </ul>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeEdit.description}}
 </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
    <li class="list-group-item"  *ngFor="let ingredient of recipeEdit.ingredients">
     {{ingredient.name}} - {{ingredient.amount}}
    </li>
    </ul>
  </div>
</div>
