<div class="row">
    <div class="col-xs-12">
    <div class="col-sm-3 form-group">
       <label>Name</label><input type="text" class="form-control">
      </div>
      <div class="col-sm-3 form-group">
        <label>Description</label>
        <input type="text" class="form-control" value="{{recipe.description}}">
      </div>
      <div class="col-sm-3 form-group">
        <label for="image">Image</label>
        <input id="image" type="url" class="form-control" >
      </div>
    </div>
</div>
