<div class="row">
  <div class="col-xs-10">
    <router-outlet></router-outlet>
    <hr>
    <ul class="list-group">

          <!--<a  class="list-group-item" style="cursor: pointer"-->
              <!--*ngFor="let ingrdient of ingredients; let i=index"-->
              <!--[routerLink]="i"-->
              <!--routerLinkActive="active"-->
          <!--&gt;-->
            <!--{{ingrdient.name}} () {{ingrdient.amount}}-->

          <!--</a>-->

        <a  class="list-group-item" style="cursor: pointer"
            *ngFor="let ingrdient of ingredients; let i=index"
          (click)="onEditIngredient(i)"
        >
            {{ingrdient.name}} () {{ingrdient.amount}}

        </a>

    </ul>
  </div>

</div>

